<!-- <breadcrumb #parent>
  <ol class="breadcrumb">
    <ng-template ngFor let-route [ngForof]="parent.breadcrumbs">
      <li *ngIf="!route.terminal" class="breadcrumb-item">
        <a href="" [routerLink]="[router.url]"> {{ route.displayName}} </a>
      </li>
      <li *ngIf="!route.terminal" class="breadcrumb-item active">
        <a href="" [routerLink]="[router.url]"> {{ route.displayName}} </a>
      </li>
    </ng-template>
  </ol>
</breadcrumb> -->
<breadcrumb #parent>
  <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
      <a mat-button *ngIf="!route.terminal" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
      <a mat-button *ngIf="route.terminal">{{ route.displayName }}</a>
  </span>
</breadcrumb>

<div class="pt-3 pb-2 mb-3 border-bottom"  *ngIf="canAccess(['add_product'])" >
  <a routerLink="/products/create" class="btn btn-sm btn-outline-secondary" >Add</a>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm" matSort (matSortChange)="sortData($event)">
    <thead>
    <tr>
      <th>id</th>
      <th mat-sort-header="title">title</th>
      <th mat-sort-header="description">description</th>
      <th mat-sort-header="image">image</th>
      <th mat-sort-header="price">Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.title}}</td>
      <td>{{product.description}}</td>
      <td><img [src]="product.image" height="50"/></td>
      <td>{{product.price}}</td>
      <td>
        <div class="btn-group mr-2" *ngIf="canAccess(['delete_product'])" >
          <a [routerLink]="['/products', product.id, 'edit']" class="btn btn-sm btn-outline-secondary">Edit</a>
        </div>
        <div class="pt-3 pb-2 mb-3 border-bottom"  *ngIf="canAccess(['delete_product'])" >
          <a href="javascript:void(0)" class="btn btn-sm btn-outline-secondary" (click)="delete(product.id)">Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- <app-paginator
  [lastPage]="lastPage"
  (pageChanged)="load($event)"
></app-paginator> -->
