<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="/">Company name</a>

  <nav *ngIf="user" class="my-2 my-md-0 mr-md-3">

    <button routerLink="/profile" class="p-2 text-white text-decoration-none bg-dark bg-gradient"> 
      {{user.first_name}}  {{user.last_name}}
    </button>
     
    <button routerLink="/login" class="p-2 text-white text-decoration-none bg-dark bg-gradient" (click)="logout()">Sign out</button>

    <!-- <a routerLink="/profile" class="p-2 text-white text-decoration-none"> hhhhhh {{user.first_name}}  {{user.last_name}}</a>
    <a routerLink="/login" class="p-2 text-white text-decoration-none" (click)="logout()">Sign out</a> -->
  </nav>
</header>
