<main >
    <div *ngIf="alert_success" class="alert alert-success alert-dismissible mt-4" role="alert">
      <strong> success signin </strong> Your data has been entered successfully!
        <button (click)="closeAlert()" type="button"  data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div *ngIf="alert_danger" class="alert alert-danger alert-dismissible mt-4" role="alert">
      <strong> error signin </strong> please verify your informations!
        <button (click)="closeAlertDanger()" type="button"  data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <form (submit)="submit()" class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <input [(ngModel)]="firstName" name="first_name" class="form-control" placeholder="First Name" required>

    <input [(ngModel)]="lastName" name="last_name" class="form-control mt-2" placeholder="Last Name" required>

    <input [(ngModel)]="username" name="username" type="username" class="form-control mt-2" placeholder="Username" required>

    <input [(ngModel)]="email" name="email" type="email" class="form-control mt-2" placeholder="Email address" required>

    <input [(ngModel)]="password1" name="password1" type="password" class="form-control mt-2" placeholder="Password" required>

    <input [(ngModel)]="password2" name="password2" type="password" class="form-control" placeholder="Password Confirm" required>
  
    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>    

  </form>
</main>
